.scatterview
{
    float: right;
    width: 48%;
}

.axis path,
.axis line
{
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.map-wrapper
{
    float: left;
    width: 52%
}

#map-chart
{
    height: 700px;
}

#map-chart svg
{
    width: 100%;
    height: 100%;
    /* margin: auto; */
}

#map-dropdown
{
    margin-left: 40px;
    /* width: 50px; */
    width: 50%
}

#selected
{
  stroke: #000000;
  stroke-width: 2;
}

circle.selected
{
  stroke: #000000;
  stroke-width: 2;
  opacity: 1;
}

.activeYear-background
{
    font-size: 70px;
    opacity: .5;
}

circle
{
  opacity: .5;
}

.states
{
    fill: rgb(225, 225, 225);
}

.state-borders
{
    fill: none;
    stroke: #000000;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none; /* needed? */
}

.us-border
{
    fill: none;
    stroke: #000000;
}

/* ******** slider styling ********************* */

.slider
{
    -webkit-appearance: none;
    width: 500px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 20px;
    position: relative
}

.slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider:hover
{
    opacity: 1;
}

.slider-label svg
{
    width: 520px;
    height: 35px;
}

.slider-label svg text
{
    text-anchor: middle;
}

.slider-wrap
{
    display: inline-block;
    /* float: left; */
    /* width: 0px; */
    width: 100%;
}

/* ************************************** */

.d3-tip
{
    line-height: 1;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 300px;
    border-style: groove;
    padding: 12px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

/* ************************************** */

.ACC
{
    fill: yellow
}

.BigTen
{
    fill: blue;
}

.Big12
{
    fill: green
}

.Pac-10
{
    fill: red;
}

.Pac-12
{
    fill: red;
}

.SEC
{
    fill: darkorange
}

.American
{
    fill: brown
}

.BigEast
{
    fill: brown
}

.MW
{
    fill: purple
}

.WAC
{
    fill: hotpink
}

.MAC
{
    fill: skyblue
}

.C-USA
{
    fill: #39ff14
}

.SunBelt
{
    fill: #DAA520
}

.Independent
{
    fill: black
}